body{
    margin: 0;
    font-family: "Space Mono", monospace;
    background: linear-gradient(to left , #e8eaf9 , #fff);
}

h6{
    margin: 0;
}

.begin{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: transparent;
    color: white;
}

.navb-center a {
    padding-left: 24px;
    color: white;
    text-decoration: none;
}
.navb-end{
    border: 15px;
}


.main-container{
    background-image: url('contact-banner3\ \(1\).jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
}

.overview{
    display: flex;
    justify-content:center ;
    align-items: center;
    flex-direction: column;
    color: white;
    margin-top: 160px;
}

.overview p{
    font-size: 1.5rem;
}

.overview h1{
    font-size: 11rem;
}
.end{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin-top: 34px;
}

.text-line{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 28px;
}

#line{
    width: 50px;
    background-color: #bbb;
    height: 1px;
    margin-right: 12px;
}

.main{ 
    display: flex;
    justify-content: center;
    align-items:center ;
    font-size: x-large;
    margin: 24px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: lighter;
  
}

.under{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: 28px;
    min-height: 90vh;
}
.lists{
    flex: 1;
    padding: 24px;
    display:flex ;
    align-items: stretch;
    flex-direction: column;
    width: 100%;
    margin-top: 52px;
   
}


.imgg {
    flex: 1;
    padding: 24px;

}

.imgg img {
    border-radius: 8px;
}
.list1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 15px #e2dcdc;

}

.list1:hover{
    cursor: pointer;
    background-color: #eee;
}
.tittle{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.imggg{
    display: flex;
    justify-content:  space-around;
    align-items: center;
    padding: 14px;
    
}
.img1 img{
    border-radius:  8px;
    height: 460px;
}
.book{
    position: absolute;
    top: 70%;
    left: 5%;
    color:#fff;
}

.img1 p{
    font-size: 14px;
    padding: 0;
    margin: 0;
}

.img1 p{
    font-size: 14px;
    color: #777;
    padding: 0;
    margin: 0;
}
    
.img1{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    position: relative;

}
.cmntr{
    display: flex;
    max-height: 660px;
    padding: 24px ;
    justify-content: space-between;
        
}
.cmntr1{
     /* margin-top: 120px; */
    
    border-radius: 16px;
    padding: 14px;
    
}
.cmntr2{
    /* margin-top: 120px; */
    background-color: #dfd9d9;
    border-radius: 16px;
    padding: 14px;
    margin-left: 16px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
}
.cmntr3{
    /* margin-top: 120px; */
    background-color: #dfd9d9;
    border-radius: 16px;
    padding: 14px;
    margin-left: 16px;
 
}

.commnt{
    display:flex ;
}

.commnt img{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    margin-right:20px ;
}
.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}
.final{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
.touch{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 40px;
    margin-top: 46px;
    
}

.navbb a{
  
    padding-left: 120px;
}
.dolana{
    display: flex;

        font-size: 6rem;
    
}

.container-footer{
    background-image: url('./dolanadoh.jpg');
    min-height: 100vh;
    background-size: cover;
}


.rounded-img{
    border-radius: 20px;
    height:32px; 
    width:180px;
    margin: 0px 10px;
}

.parg p{
    margin-top: 0;
    padding: 0px 180px;
    text-align: center;
    color:#fff ;
}


.one{
    margin: 20px 0px;
}


.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 48px;
}

.formls{
    display: flex;
    flex-direction: column;
}


form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form input,select {
    margin: 0px;
    padding: 14px;
    width: 100%;
    border-radius: 8px;
    border-bottom: 2px solid #bbb;
    border-top: none;
    border-right: none;
    border-left: none;

}

form button{
    padding: 10px 36px;
    box-shadow: 1px 1px 5px rgb(0, 0, 0 ,.5);
    cursor: pointer;
    width: 100%;
    margin-top: 40px;
    background: linear-gradient(to left , #e8eaf9 , #fff);
    border: none;
}

::placeholder{
    color: black;
}

#contact-container{
    background: linear-gradient(to right , #e8eaf9 , #fff);

}

.wel{
    display: flex;
    justify-content: end;
    
    
}